<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

</head>

<body>

    <body>
        <nav class="nav mt-2">
            <a class="nav-link text-dark">Monitor Device </a>
            <button type="button" class="btn btn-success">View Report</button>
        </nav>
        <div class="container mt-3 text-darken-4">

            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group">
                        <p><span>Site Name :</span> Delhi</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <p><span>Device Id : </span><%= practice.deviceid %></p>
                </div>
                <div class="col-sm-4">
                    <p>Server Date : <span id="date"></span></p>
                </div>
                <div class="col-sm-3">
                    <p>Device Time :<span id="time"></span></p>
                </div>
            </div>
        </div>
        <section class="main">
            <div class="contianer text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <div>
                                <h3>DC Voltage</h3>
                                <div id="DC" class="dc">
                                    <div class="ticks">
                                        <div class="tithe" style="--dc-tithe-tick:1;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:2;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:3;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:4;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:6;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:7;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:8;"></div>
                                        <div class="tithe" style="--dc-tithe-tick:9;"></div>
                                        <div class="min"></div>
                                        <div class="mid"></div>
                                        <div class="max"></div>
                                    </div>
                                    <div class="tick-circle"></div>

                                    <div class="needle">
                                        <div class="needle-head"></div>
                                    </div>
                                    <div class="labels">
                                        <div class="value-label"></div>
                                    </div>
                                    <div>
                                        <div class="amp">A</div>
                                    </div>
                                </div>
                                <p>

                                    <input id="gv-DC" class="inputf" min="0" max="200" value="0"
                                        onInput="updateGauge('DC', 0, 100);" onChange="updateGauge('DC', 0, 100);" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="meter">
                            <div>
                                <h3>AC Voltage</h3>
                                <div id="AC" class="ac">
                                    <div class="ticks">
                                        <div class="tithe" style="--ac-tithe-tick:1;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:2;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:3;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:4;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:6;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:7;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:8;"></div>
                                        <div class="tithe" style="--ac-tithe-tick:9;"></div>
                                        <div class="min"></div>
                                        <div class="mid"></div>
                                        <div class="max"></div>
                                    </div>
                                    <div class="tick-circle"></div>

                                    <div class="needle">
                                        <div class="needle-head"></div>
                                    </div>
                                    <div class="labels">
                                        <div class="value-label"></div>
                                    </div>
                                    <div>
                                        <div class="amp">A</div>
                                    </div>
                                </div>
                                <p>

                                    <input id="jv-AC" class="inputf" min="0" max="200" value="0"
                                        onInput="ACV('AC', 0, 100);" onChange="ACV('AC', 0, 100);" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4  mb-3">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">AC Berrty Voltage</li>
                                <li class="list-group-item"><%= practice.batteryvolt %></li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">AC Solar Voltage</li>
                                <li class="list-group-item"><%= practice.solarvolt %></li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">AC Main Fail</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">DC Over Voltage</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">DC Under Voltage</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">DC Main Fail</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">No Fault</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> --> 
        </section>


        <!-- custom js -->
        <script src="js/my.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script>
            let now = new Date();
            var date = moment(now).format('DD-MM-YYYY');
            document.getElementById("date").innerHTML = date;
            
            let now1 = new Date().toLocaleTimeString();
            document.getElementById("time").innerHTML = now1;
        </script>
    </body>

</html>