*{
    margin: 0;
    padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #d8d8d8;
}
.main{
  background-color: rgb(143, 238, 238);
}

.meter {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.dc {
  margin: auto;
  --dc-value:0;
    width:150px;
   height:150px;
}

.dc{
  position:relative;background:var(--dc-bg);border:.05em solid #222;border-radius:50%;
  min-width:100px;
  min-height:100px;
  font-weight:150;
  font-size:12px}
.dc .ticks{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0}
.dc .ticks .min{
  background:rgb(25, 236, 5);
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(12, 250, 3, 0) 0,rgba(26, 241, 6, 0) 4%,rgb(57, 228, 5) 4%,rgb(43, 230, 6) 15%,rgba(61, 230, 10, 0) 15%);
  transform:rotate(-45deg)}
.dc .ticks .mid{
  background:rgb(243, 199, 6);
  position:relative;
  left:0;top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(241, 238, 7, 0) 0,rgba(241, 218, 5, 0) 4%,rgb(243, 227, 6) 4%,rgb(236, 221, 8) 15%,rgba(233, 199, 5, 0) 15%);
  transform:rotate(90deg)}
.dc .ticks .max{
  background:rgb(243, 4, 4);
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(243, 41, 5, 0) 0,rgba(241, 7, 7, 0) 4%,rgb(233, 6, 6) 4%,rgb(243, 4, 4) 15%,rgba(236, 10, 10, 0) 15%);
  transform:rotate(225deg)}
.dc .ticks .tithe{
  transform:rotate(calc(27deg * var(--dc-tithe-tick) - 45deg));
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 10%,#000 10%,#000 15%,rgba(0,0,0,0) 15%)}
.dc .needle{
  transform:rotate(calc(270deg * calc(var(--dc-value,0deg)/ 100) - 45deg));
  background:rgb(243, 13, 13);
  position:relative;
  left:0;
  top:49%;
  width:100%;
  height:4%;
  margin-bottom:-4%;
  background:linear-gradient(
      90deg
      ,rgba(248, 191, 5, 0) 0,rgba(243, 10, 10, 0) 24%,rgb(218, 11, 11) 24%,rgb(240, 58, 13) 45%,rgba(226, 17, 17, 0) 56%);}
.dc .needle .needle-head{
  position:relative;
  top:15%;
  left:22.5%;
  width:2.7%;
  height:70%;
  background-color:rgb(240, 11, 11);
  transform:rotate(-45deg)}
.dc .labels{
  position:absolute;
  width:100%;
  height:100%}
.dc .labels .value-label{
  position:relative;
  top:75%;
  left:51%;
  width:10%;
  height:0}
.dc .labels .value-label::after{
  counter-reset:dc-value var(--dc-display-value);
  content:counter(dc-value);
  width:3em;
  margin: 0px 0px 0 -21px;
  font-weight: bold;}
.guide-x,.guide-y{
  background-color:orange;
  visibility:visible;
  position:absolute;
  left:50%;
  top:0;width:1px;height:100%}
.guide-y{left:0;top:50%;width:100%;height:1px}
.dc .amp{
  color:red;
  margin-top: 127px;
  font-weight: bold;
  
}

/* /AC/ */

.ac{
  position:relative;background:var(--ac-bg);border:.05em solid #222;border-radius:50%;
  min-width:100px;
  min-height:100px;
  font-weight:150;
  font-size:12px;
  --ac-value:0;
  width:150px;
  height:150px;
  margin: 0 50px;}
.ac .ticks{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0}
.ac .ticks .min{
  background:rgb(25, 236, 5);
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(12, 250, 3, 0) 0,rgba(26, 241, 6, 0) 4%,rgb(57, 228, 5) 4%,rgb(43, 230, 6) 15%,rgba(61, 230, 10, 0) 15%);
  transform:rotate(-45deg)}
.ac .ticks .mid{
  background:rgb(243, 199, 6);
  position:relative;
  left:0;top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(241, 238, 7, 0) 0,rgba(241, 218, 5, 0) 4%,rgb(243, 227, 6) 4%,rgb(236, 221, 8) 15%,rgba(233, 199, 5, 0) 15%);
  transform:rotate(90deg)}
.ac .ticks .max{
  background:rgb(243, 4, 4);
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(243, 41, 5, 0) 0,rgba(241, 7, 7, 0) 4%,rgb(233, 6, 6) 4%,rgb(243, 4, 4) 15%,rgba(236, 10, 10, 0) 15%);
  transform:rotate(225deg)}
.ac .ticks .tithe{
  transform:rotate(calc(27deg * var(--ac-tithe-tick) - 45deg));
  background:#000;
  position:relative;
  left:0;
  top:50%;
  width:100%;
  height:1%;
  margin-bottom:-1%;
  background:linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 10%,#000 10%,#000 15%,rgba(0,0,0,0) 15%)}
.ac .needle{
  transform:rotate(calc(270deg * calc(var(--ac-value,0deg)/ 100) - 45deg));
  background:rgb(243, 13, 13);
  position:relative;
  left:0;
  top:49%;
  width:100%;
  height:4%;
  margin-bottom:-4%;
  background:linear-gradient(
      90deg
      ,rgba(248, 191, 5, 0) 0,rgba(243, 10, 10, 0) 24%,rgb(218, 11, 11) 24%,rgb(240, 58, 13) 45%,rgba(226, 17, 17, 0) 56%);}
.ac .needle .needle-head{
  position:relative;
  top:15%;
  left:22.5%;
  width:2.7%;
  height:70%;
  background-color:rgb(240, 11, 11);
  transform:rotate(-45deg)}
.ac .labels{
  position:absolute;
  width:100%;
  height:100%}
.ac .labels .value-label{
  position:relative;
  top:75%;
  left:51%;
  width:10%;
  height:0}
.ac .labels .value-label::after{
  counter-reset:ac-value var(--ac-display-value);
  content:counter(ac-value);
  width:3em;
  margin: 0px 0px 0 -21px;
  font-weight: bold;}
.guide-x,.guide-y{
  background-color:orange;
  visibility:visible;
  position:absolute;
  left:50%;
  top:0;width:1px;height:100%}
.guide-y{left:0;top:50%;width:100%;height:1px}
.ac .amp{
  color:red;
  margin-top: 127px;
  font-weight: bold;
  
}
.inputf{
  height: 20px;
  width: 50px;
}